body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background: pink;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background: whitesmoke;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  text-align: center;
}

input {
  padding: 0.5rem;
  font-size: 1rem;
  margin-top: 1rem;
}

button {
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  cursor: pointer;
  background-color: pink;
}

#message {
  margin-top: 1rem;
  font-weight: bold;
  
}